@font-face {
    font-family: 'logo_font';
    src: url('../image_n_font/Norse-Bold.otf');
}

body{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left{
    height:100vh;
    flex:2 2 0; /*alternatively use 40vw vs 60vw*/
    margin: 0;
    position: relative;
    top:0;
    background-color: orange;
    background-image: url('../image_n_font/odin-pic.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left>.logo{
    background-color:rgba(139, 153, 151, 0.277);;
    min-height: 80px;
    width: auto; /*take watever space given*/
    position: relative;
    top:250px;
    font-family:'logo_font';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    overflow: hidden;
}

.logo>#image, .logo>span{
    max-height: 80px;
    position: relative;

}

.right{
    display: flex;
    flex-direction: column;
    flex:3 1 0;
    flex-wrap:wrap ;
    
}

.right>.row-1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 34%;
    width: 100%;
    padding-top: 50px;
    padding-left: 80px;
    padding-bottom: 40px;
    min-height: 191px; /*allows the section to increase and prevent overflow*/
    background-color: whitesmoke;
}

.row-1 p{
    max-width: 75ch;
    font-weight: 550;
}

p.first{
    margin-bottom: 20px;
}

.right>.row-2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2px;
    padding-left:max(80px);
    box-shadow: 0px 10px 20px grey;
    font-size: 0.8rem;
}
form{
    width: 100%;
}


.row-2 div{
    display: flex;
    flex-wrap: wrap;
}
.top{
    max-height: 20%;
    margin-bottom: clamp(18px,20px,25px);
}

.top>p{
    padding-top:clamp(5px,20px,22px);
    font-size: 1.8rem;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
   
}

li{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    margin-bottom: 4px;
}
input:required{
    appearance: none;
    outline: none; /*these is to remove the default blue outline of chrome when focus is on that form element*/
    border: 1px solid black;
    border-radius: 5px;
    
}
input:valid:focus{
    border-color: darkblue;
} 

input:valid{
    border-color: green;
}

input:invalid:focus{
    border-color: red;
}

.row-2 .center{
    gap: 80px;
}

.bottom button{
    margin-top: max(30px);
    appearance: none;
    border-radius: 8px;
    background-color: blueviolet;
    color:aliceblue;
    font-weight: 600;
    font-size: 120%;
    height: 34px;
    width: 180px;

}

.right>.row-3{
    width: auto;
    margin-top: 30px;
    padding-left: 80px;
}

@media(max-width:376px){
    .top{
        margin-bottom: 2px;
    }
    
    .top>p{
        padding-top:2px;
        font-size: 1rem;
    }
    
}
@media(max-width:450px){
   
    body{
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .left{
        position: relative;
    }

    .left>.logo{
        position: relative;
        top:0;
        
    }

    .right>.row-1, .right>.row-2, .right>.row-3{
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .right>.row-2{
        height: 57%;
    }

    .top{
        margin-bottom: 5px;
    }
    
    .top>p{
        padding-top:2px;
        font-size: 1.1rem;
    }
}
    @media(max-width:1069px){
        .row-2 div{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        form>.center{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .row-2 .center{
            gap: 0;
        }
        
        li{
            display: flex;
            flex-direction: column;
            width: max(250px);
            border-radius: 50px;
            margin-bottom: 4px;
        }

        .bottom button{
            margin-top: max(8px);
        }
    }
